<h1>Create your new Listing here</h1>


<%= simple_form_for [@user, @listing], url: new_listing_path(@listing) do |l| %>
<%= l.label :name %>
<%= l.text_field :title %>
<br>
<%= l.label :description %>
<%= l.text_field :description %>
<br>
<%= l.label :price %>
<%= l.text_field :price %>
<br>
<%= l.input :photo %>
<br>
<%= l.submit %>








































<% end %>





