<div class="bg-light">
  <h1 class="listing-title"><%= @listing.title %></</h1>
    <div class="card-product">
      <img src="<%= @listing.photo %>" alt="#">
      <div class="card-product-infos">
        <h2><%= @listing.description %></h2>
        <p><%= @listing.price %></p>
      </div>
    </div>
  <div class="btn-medium">
    <%= link_to 'View All', listings_path %>
  </div>
</div>
