<div class="bg-light py-5">
  <div class="card-product-container pt-5">
    <div class="card-product">
      <img src="<%= @listing.photo %>" alt="#">
      <div class="card-product-infos">
        <h1><%= @listing.title %></h1>
        <h2><%= @listing.description %></h2>
        <p><%= @listing.price %></p>
      </div>
    </div>
  </div>
  <div class="btn-medium">
    <%= link_to 'View All', listings_path %>
  </div>
  <div class="booking-form">
    <h3 class="listing-title">Make a booking</h3>
    <%= simple_form_for [@listing, @booking] do |l| %>
      <div class="form-row">
        <%= l.input :pickup_on, as: :date, html5: true, input_html: { class: "datepicker" }, wrapper_html: { class: 'col-md-6' } %>
        <%= l.input :return_on, as: :date, html5: true, input_html: { class: "datepicker" }, wrapper_html: { class: 'col-md-6' } %>
      </div>
        <%= l.button :submit, class: 'btn-booking'%>
    <% end %>
  </div>
</div>
