<div class="bg-light">
  <h1 class="listing-title"><%= @listing.title %></</h1>
    <div class="card-product">
      <img src="<%= @listing.photo %>" alt="#">
      <div class="card-product-infos">
        <h2><%= @listing.description %></h2>
        <p><%= @listing.price %></p>
      </div>
    </div>
  <div class="btn-medium">
    <%= link_to 'View All', listings_path %>
  </div>

<div>
  <h3>Make a booking</h3>

  <%= simple_form_for [@listing, @booking] do |l| %>
  <%= l.input :pickup_on, as: :date, html5: true, input_html: { class: "datepicker" } %>
  <br>
  <%= l.input :return_on, as: :date, html5: true, input_html: { class: "datepicker" } %>
  <br>
  <%= l.submit %>
  <% end %>
