<div class="bg-light py-5">
  <div class="card-product-container pt-5">
    <div class="card-product">
      <img src="<%= @listing.photo %>" alt="#">
      <div class="card-product-infos">
        <h1><%= @listing.title %></h1>
        <h4><%= @listing.description %></h4>
        <p>$<%= @listing.price %></p>
      </div>
    </div>
  </div>
  <div class="btn-medium" style="max-width: 30%;">
    <%= link_to 'View Other Tables', listings_path %>
  </div>
  <div class="booking-form">
    <h3 class="listing-title">Make a booking</h3>
    <%= simple_form_for [@listing, @booking] do |l| %>
      <div class="form-row">
        <%= l.input :pickup_on, as: :date, html5: true, input_html: { class: "datepicker" }, wrapper_html: { class: 'col-md-6' } %>
        <%= l.input :return_on, as: :date, html5: true, input_html: { class: "datepicker" }, wrapper_html: { class: 'col-md-6' } %>
        <br>
        <%= l.input :note, as: :text, placeholder: 'Message for vendor' %>
      </div>
        <%= l.button :submit, class: 'btn-booking'%>
    <% end %>
  </div>
</div>
