<h1><%= @listing.title %></h1>
<img src="<%= @listing.photo %>" alt="#">
<p><%= @listing.description %></p>
<p><%= @listing.price %></p>
<br>
<%= link_to 'View All', listings_path %>
<br>

<div>
  <h1>Make a booking</h1>

  <%= simple_form_for [@listing, @booking] do |l| %>
  <%= l.input :pickup, as: :date, html5: true %>
  <br>
  <%= l.input :return, as: :date, html5: true %>
  <br>
  <%= l.submit %>
  <% end %>
</div>
