<h1><%= @listing.title %></h1>
<img src="<%= @listing.photo %>" alt="#">
<p><%= @listing.description %></p>
<p><%= @listing.price %></p>
<br>
<%= link_to 'View All', listings_path %>
<br>

<div>
  <h3>Make a booking</h3>

  <%= simple_form_for [@listing, @booking] do |l| %>
  <%= l.input :pickup_on, as: :date, html5: true, input_html: { class: "datepicker" } %>
  <br>
  <%= l.input :return_on, as: :date, html5: true, input_html: { class: "datepicker" } %>
  <br>
  <%= l.submit %>
  <% end %>
</div>
