<div class="card-product-container">
  <div class="card-listing">
    <img src="<%= booking.listing.photo %>" alt="#" width="200px">
    <div class="card-listing-infos">
      <p><strong>Table name: <%= booking.listing.title %></strong><p>
      <p><strong>Total Price: $<%= (booking.listing.price.to_i * (booking.return_on - booking.pickup_on).to_i ) %></strong></p>
      <p>Pickup date: <%= booking.pickup_on %></p>
      <p>Return date: <%= booking.return_on %></p>
      <p>Pickup Location: <%= booking.listing.user.location %></p>
      <p>Vendor:
        <%= booking.listing.user.first_name %>
        <%= booking.listing.user.last_name %></p>
      <p>Email: <%= booking.listing.user.email %></p>
      <%= link_to "Cancel Booking", booking_path(booking), method: :delete, class: 'btn-medium text-center' %>
    </div>
  </div>
</div>
