<h1>Profile page</h1>

  <%= cl_image_tag current_user.photo_or_default %>

    <% if @user.first_name.nil? %>
      <% %>
    <% else %>
      <p><%= @user.first_name %></p>
    <% end %>

    <% if @user.last_name.nil? %>
      <% %>
    <% else %>
      <p><%= @user.last_name %></p>
    <% end %>

<br>

  <p><%= @user.email %></p>

  <% if @user.bio.nil? %>
    <% %>
  <% else %>
    <p><%= @user.bio %></p>
  <% end %>

