<div class="bg-pic py-5">
  <div class="booking-form px-5" style="text-align: left; max-width: 847px;">
    <h6 class="listing-title">Profile</h6>

    <%= render 'user_bio' %>

    <div class="space-between">
      <%= link_to 'Update Profile', edit_user_path, class: 'btn-medium' %>
      <%= link_to 'Back', root_path, class: 'btn-medium' %>
    </div>

    <hr>

    <div class="space-between">
      <h2>My Bookings</h2><span>
      <%= link_to 'New Booking', listings_path, class: 'btn-booking' %></span>
    </div>

    <% if @user.bookings.empty? %>
      <p>Sorry, you have no any bookings.</p>
    <% else %>
      <% @user.bookings.each do |booking| %>
        <%= render '/bookings/card', booking: booking %>
      <% end %>
    <% end %>

    <hr>

    <div class="space-between" style="font-size: 24px;">
      <h2>My Listings</h2> <span><%= link_to 'Create New Listing', new_listing_path, class: 'btn-booking' %></span>
    </div>

   <% if @user.listings.empty? %>
      <p>You have no current listing </p>
    <% else %>
      <% @user.listings.each do |listing| %>
        <div>
          <div class="card-listing-container">
          <%= render '/listings/card', listing: listing %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
