<div class="bg-pic py-5">
  <div class="booking-form px-5" style="text-align: left; max-width: 847px;">
    <h6 class="listing-title">Profile</h6>

    <div class="center" style="text-align: center;">
      <%= cl_image_tag current_user.photo_or_default, width: "250px"%>
    </div>

    <% if @user.first_name.nil? %>
      <% %>
    <% else %>
      <p>First Name: <%= @user.first_name %></p>
    <% end %>

    <% if @user.last_name.nil? %>
      <% %>
    <% else %>
      <p>Last Name: <%= @user.last_name %></p>
    <% end %>

    <p>Email: <%= @user.email %></p>

    <% if @user.bio.nil? %>
      <% %>
    <% else %>
      <p>Bio: <%= @user.bio %></p>
    <% end %>

    <div class="space-between">
      <%= link_to 'Update Profile', edit_user_path, class: 'btn-medium' %>
      <%= link_to 'Back', root_path, class: 'btn-medium' %>
    </div>

    <hr>

    <div class="space-between">
      <h2>My Bookings</h2><span>
      <%= link_to 'New Booking', listings_path, class: 'btn-booking' %></span>
    </div>

    <% if @user.bookings.empty? %>
      <p>Sorry, you have no any bookings.</p>
    <% else %>
      <% @user.bookings.each do |booking| %>
<<<<<<< HEAD
      <br>

        <img src="<%= booking.listing.photo %>" alt="#">
        <p><strong>Table name: <%= booking.listing.title %></strong><p>
        <p>Pickup date: <%= booking.pickup_on %></p>
        <p>Return date: <%= booking.return_on %></p>
        <p>Pickup Location: <%= booking.listing.user.location %></p>
        <p>Vendor:
          <%= booking.listing.user.first_name %>
          <%= booking.listing.user.last_name %></p>
        <p>Email: <%= booking.listing.user.email %></p>
        <%= link_to "Cancel Booking", booking_path(booking), method: :delete, class: 'btn-medium' %>
        <br>

        <div class="card-product-container">
          <div class="card-listing">
            <img src="<%= booking.listing.photo %>" alt="#" width="200px">
            <div class="card-listing-infos">
              <p><strong>Table name: <%= booking.listing.title %></strong><p>
              <p>Pickup date: <%= booking.pickup_on %></p>
              <p>Return date: <%= booking.return_on %></p>
              <p>Pickup Location: <%= booking.listing.user.location %></p>
              <p>Vendor:
                <%= booking.listing.user.first_name %>
                <%= booking.listing.user.last_name %></p>
              <p>Email: <%= booking.listing.user.email %></p>
              <br>
            </div>
          </div>
        </div>
=======
        <%= render '/bookings/card', booking: booking %>
>>>>>>> b6d7b520a54b98c46b48279954234439b6c1a889
      <% end %>
    <% end %>

    <hr>

    <div class="space-between" style="font-size: 24px;">
      <h2>My Listings</h2> <span><%= link_to 'Create New Listing', new_listing_path, class: 'btn-booking' %></span>
    </div>

   <% if @user.listings.empty? %>
      <p>You have no current listing </p>
    <% else %>
      <% @user.listings.each do |listing| %>
        <div>
          <div class="card-listing-container">
          <%= render '/listings/card', listing: listing %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
