<div class="site-logo"></div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('<%= image_path "banner.jpg" %>');">
  <div class="container">
    <h1>Air BallnBeer brings <span>fun</span> to <br> anywhere, anytime!</h1>
    <p>Let's start a party! 🥳</p>
    <%= link_to "Rent a Table", listings_path, class: "btn btn-ghost" %>
    <%= link_to "List a Table", new_listing_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="feat-container">
    <div class="section">
        <%= image_tag "fun.png", class: "section-img"%>
        <div class="section-content">
          <h2>Fun</h2>
          <p>A fun app, <strong>very fun</strong> app</p>
        </div>
    </div>
    <div class="section">
        <div class="section-content">
          <h2>Trendy</h2>
          <p><strong>#1 Trend </strong>Beerpong tables found in your neighbourhood</p>
        </div>
        <%= image_tag "park.png", class: "section-img"%>
    </div>
    <div class="section">
        <%= image_tag "moon.png", class: "section-img" %>
        <div class="section-content">
          <h2>To the Moon</h2>
          <p>First Beerpong <strong>on the moon</strong> in the market</p>
        </div>
    </div>
    <div class="section">
        <div class="section-content">
          <h2>Money</h2>
          <p>Hassle free, high security <strong>transfer</strong> under your eyes</p>
        </div>
        <%= image_tag "money.png", class: "section-img" %>
    </div>
</div>

<div class="cta">
  <div class="cta-inner">
    <h2>Oh and it’s free! Get started now!</h2>
    <%= link_to "Rent a Table", listings_path, class: "btn btn-medium" %>
    <%= link_to "List a Table", new_listing_path, class: "btn btn-medium" %>
  </div>
</div>
<hr>
